extends layout

block content
  h1= title
  p Welcome to the #{title}
  nav
    a(href='/artists') Go to Artists 
    br
    a(href='/concerts') Go to Concerts 
    br
    a(href='/concerts/1') Go to Concert 1
  h2 Liste des utilisateur·ices de l'application
  table
    thead 
      tr
        th Nom 
        th Admin 
    tbody
    each user in users
        tr
          td= user.userName
          td= user.userRole
